{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<style>

  .google-btn {
    width: 184px;
    height: 47px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    padding: 2px;
  }
  .google-icon-wrapper {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
    margin-top: -3px;
  }
  .google-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: -15px;
  }
  .btn-text {
    float: right;
    margin: 8px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  &:active {
    background: #1669F2;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:500);
</style>


<div class="socialaccount_ballot">

  

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% if socialaccount_providers %}
  {% for provider in socialaccount_providers %}
    {% if provider.id == 'google' %}   
    <form method="post" action="{% provider_login_url provider.id %}">
      {% csrf_token %}
      <button type="submit" class="google-btn">
        <div class="google-icon-wrapper">
          <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
        <p class="btn-text"><b>Sign in with google</b></p>
      </button>
    </form>
    {% endif %}
  {% endfor %}
</div>

{% endif %}

{% endblock %}
