{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts\css\style.css' %}">
</head>
    <body>
        <div class="test">
            <h1>Home</h1>

            {% if user.is_authenticated %}
            <h2>{{user.first_name}} {{user.last_name}}</h2>

            <ul style="list-style: none;">
                <li><a href="">Profile</a></li>
                <li><a href="{% url 'maps:register_charging_station' %}">Register Chargers</a></li>
                <li><a href="{% url 'maps:chargingStations' %}">Maps</a> </li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
             
            {% else %}
            <ul style="list-style: none;">
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'accounts:account_sign' %}">Register</a></li>
                
            </ul>
            {% endif %}
        </div>    
    </body>

</html>
