{% extends 'accounts/base.html' %}


{% block extrahead %}
<style>
a{
    text-decoration: none;
    color: #fff;
}
</style>
{% endblock extrahead %}

{% block content %}

<table>
    <tr>
        <td>Username</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>Email </td>
        <td>{{ user.email }}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{ user.first_name }}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{ user.last_name }}</td>
    </tr>
</table>

<button type="button" class="btn btn-danger"><a href="{% url 'accounts:edit_profile' %}">Edit</a></button>

{% endblock content %}
<h1>Profile Page</h1>