{% extends 'maps/base.html' %}


{% block extrahead %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
<style>

  .leaflet-container {  /* all maps */
      height: 700px;
  }


</style>
{% endblock extrahead %}

{% block content %}
  {% leaflet_map "mymap" %}
  <b>Charging points are marked by: <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" stroke="black" stroke-width="1" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg></b>
{% endblock %}

{% block scripts %}
<script>
  var mymap = L.map('mymap').setView([8.5678, 76.8908], 15);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
    maxZoom: 15,
}).addTo(mymap);

{% for i in charging_stations %}
var latitude = JSON.parse('{{ i.latitude }}');
var longitude = JSON.parse('{{ i.longitude }}');

var markerIcon = L.icon({

  iconUrl: 'data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" stroke="black" stroke-width="1" class="bi bi-geo-alt-fill" viewBox="0 0 16 16"><path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>',
  iconSize: [30, 41],
  iconAnchor: [12, 41],
  popupAnchor: [0, -41]
});

var marker = L.marker([latitude , longitude ], { icon: markerIcon }).addTo(mymap);
var link = '<a href="{% url "maps:charger_details" id=i.id %}"><strong>{{ i.name }}</strong></a>'
marker.bindPopup(link).openPopup();;
{% endfor %}

</script>
{% endblock %}





